@page "/Payment/LiquidBill"
@using AquaAi.shared.Models
@using System.Net.Http.Json
@inject HttpClient httpClient
@inject ISnackbar _snackBar
@inject NavigationManager NavigationManager
@inject IDialogService _dialogService
@inject IJSRuntime JSRuntime
@using MudBlazor
@using AquaAi.Components.Layout
@layout DashboardLayout
<style>
    .mud-table-container {
        overflow: auto;
    }

    h5 {
        padding-left: 20px;
    }
</style>
<MudText Typo="Typo.h5" Style="font-size:20px;">Manage Bills</MudText>
<MudTable Elevation="25" Items="@Bills" Dense="@dense" Striped="@striped" Filter="new Func<Bill,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        <MudGrid Class="table-container">
            <MudItem xs="12" md="12" lg="12" sm="12" xl="12" xxl="12" Class="d-flex flex-row" Style="padding-top: 120px;">
                <MudItem xs="4" md="4" lg="4" sm="4" xl="12" xxl="4" Class="d-flex flex-row" Style="padding-top: 10px;">
                    <div class="justify-center mud-text-align-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface" OnClick="@(() => ShowModal())">Create</MudButton>
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary" Style="margin-left:2px" OnClick="@ReloadBills">Reload</MudButton>
                    </div>
                </MudItem>
                <MudItem xs="4" md="4" lg="4" sm="4" xl="12" xxl="4" Class="d-flex flex-row">
                </MudItem>
                <MudItem xs="4" md="4" lg="4" sm="4" xl="12" xxl="4" Class="d-flex flex-row">
                    <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </MudItem>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" sm="12" xl="12" xxl="12">
                <MudDivider DividerType="DividerType.FullWidth" Style="background-color: #1e88e5; height: 2px;"></MudDivider>
            </MudItem>
        </MudGrid>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="padding-top:125px;padding-left:40px;">Bill Id</MudTh>
        <MudTh Style="padding-top:125px;padding-left:70px;">Bill Date</MudTh>
        <MudTh Style="padding-top:125px;padding-left:70px;">Total Amount</MudTh>
        <MudTh Style="padding-top:125px;padding-left:70px;">Payment Status</MudTh>
        <MudTh Style="padding-top:125px;padding-left:70px;">Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Style="padding-left:80px;" DataLabel="Bill Id">@context.BillId</MudTd>
        <MudTd Style="padding-left:80px;" DataLabel="Bill Date">@context.BillDate.ToString("yyyy-MM-dd")</MudTd>
        <MudTd Style="padding-left:80px;" DataLabel="Total Amount">@context.TotalAmount</MudTd>
        <MudTd Style="padding-left:80px;" DataLabel=" Payment Status">@context.PaymentStatus</MudTd>
        <MudTd DataLabel="Actions" Style="padding-left:50px;">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => ShowModal(@context))" />
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteBill(@context.BillId))" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Value="hover" Color="Color.Primary" Style="margin-left: 5px;">Hover</MudSwitch>
    <MudSwitch @bind-Value="dense" Color="Color.Secondary" Style="margin-left: 5px;">Dense</MudSwitch>
    <MudSwitch @bind-Value="striped" Color="Color.Tertiary" Style="margin-left: 5px;">Striped</MudSwitch>
    <MudSpacer />
</div>

@code {
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;

    private string searchString1 = "";
    private Bill selectedItem1 = null;
    private HashSet<Bill> selectedItems = new HashSet<Bill>();

    private IEnumerable<Bill> Bills = new List<Bill>();

    protected override async Task OnInitializedAsync()
    {
        await ReloadBills();
    }

    private async Task ReloadBills()
    {
        Bills = await httpClient.GetFromJsonAsync<List<Bill>>("api/bills");
        StateHasChanged();
    }

    private bool FilterFunc1(Bill bill) => FilterFunc(bill, searchString1);

    private bool FilterFunc(Bill bill, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (bill.PaymentStatus.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{bill.BillId} {bill.BillDate.ToString("yyyy-MM-dd")} {bill.TotalAmount}".Contains(searchString))
            return true;
        return false;
    }

    private async Task ShowModal(Bill bill = null)
    {
        var parameters = new DialogParameters();
        parameters.Add("Bill", bill ?? new Bill());
        parameters.Add("IsEditMode", bill != null);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = _dialogService.Show<EditBillModal>("Bill Modal", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await ReloadBills();
            _snackBar.Add($"Bill {(bill != null ? "updated" : "created")} successfully", Severity.Success);
        }
    }

    private async Task DeleteBill(int billId)
    {
        await httpClient.DeleteAsync($"api/bills/{billId}");
        await ReloadBills();
        _snackBar.Add("Bill deleted successfully", Severity.Error);
    }


}