@page "/catalog/Liquid"
@using System.Net.Http.Json
@using AquaAi.Client.Pages.Catalog
@using AquaAi.shared.Models
@using AquaAi.Client
@inject HttpClient httpClient
@inject ISnackbar _snackBar
@inject IDialogService _dialogService
<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<MudTable Elevation="25" Items="@Liquids" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" Filter="new Func<Liquid,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        <MudGrid Class="table-container">
            <MudItem xs="12" md="12" lg="12" sm="12" xl="12" xxl="12" Class="d-flex flex-row" Style="padding-top: 120px;">
                <MudItem xs="4" md="4" lg="4" sm="4" xl="12" xxl="4" Class="d-flex flex-row" Style="padding-top: 10px;">
                    <div class="justify-center mud-text-align-center">
                        <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface" OnClick="@(() => ShowModal())">Create</MudButton>
                        <MudButton DisableElevation Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary" Style="margin-left:2px" OnClick="@ReloadLiquids">Reload</MudButton>
                    </div>
                </MudItem>
                <MudItem xs="4" md="4" lg="4" sm="4" xl="12" xxl="4" Class="d-flex flex-row">
                </MudItem>
                <MudItem xs="4" md="4" lg="4" sm="4" xl="12" xxl="4" Class="d-flex flex-row">
                    <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </MudItem>
            </MudItem>
            <MudItem xs="12" md="12" lg="12" sm="12" xl="12" xxl="12">
                <MudDivider DividerType="DividerType.FullWidth" Style="background-color: #1e88e5; height: 2px;"></MudDivider>
            </MudItem>
        </MudGrid>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="padding-top:125px;padding-left:70px;">Liquid Id</MudTh>
        <MudTh Style="padding-top:125px;padding-left:100px;">Name</MudTh>
        <MudTh Style="padding-top:125px;padding-left:100px;">Length</MudTh>
        <MudTh Style="padding-top:125px;padding-left:100px;">Width</MudTh>
        <MudTh Style="padding-top:125px;padding-left:100px;">Height</MudTh>
        <MudTh Style="padding-top:125px;padding-left:100px;">Price</MudTh>
        <MudTh Style="padding-top:125px;padding-left:100px;">Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Liquid Id">@context.LiquidId</MudTd>
        <MudTd DataLabel="Name">@context.LiquidName</MudTd>
        <MudTd DataLabel="Length">@context.Length</MudTd>
        <MudTd DataLabel="Width">@context.Width</MudTd>
        <MudTd DataLabel="Height">@context.Height</MudTd>
        <MudTd DataLabel="Price">@context.Liquid_price</MudTd>
        <MudTd DataLabel="Actions">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => ShowModal(@context))" />
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteLiquid(@context.LiquidId))" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Inline="true" Class="align-self-center">Selected: @selectedItem1?.LiquidName</MudText>
    </div>
</div>

@code {
    private bool _dense = true;
    private bool _striped = true;
    private bool _bordered = true;
    private string searchString1 = "";
    private Liquid selectedItem1 = null;
    private HashSet<Liquid> selectedItems = new HashSet<Liquid>();

    private IEnumerable<Liquid> Liquids = new List<Liquid>();

    protected override async Task OnInitializedAsync()
    {
        await ReloadLiquids();
    }

    private async Task ReloadLiquids()
    {
     //   Liquids = await httpClient.GetFromJsonAsync<List<Liquid>>("webapi/liquids");
        StateHasChanged();
    }

    private bool FilterFunc1(Liquid liquid) => FilterFunc(liquid, searchString1);

    private bool FilterFunc(Liquid liquid, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (liquid.LiquidName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{liquid.LiquidId} {liquid.Length} {liquid.Width} {liquid.Height} {liquid.Liquid_price}".Contains(searchString))
            return true;
        return false;
    }

    private async Task ShowModal(Liquid liquid = null)
    {
        var parameters = new DialogParameters();
        if (liquid != null)
        {
            parameters.Add("Liquid", liquid);
            parameters.Add("IsEditMode", true);
        }
        else
        {
            parameters.Add("Liquid", new Liquid());
            parameters.Add("IsEditMode", false);
        }

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = _dialogService.Show<LiquidModal>("Liquid Modal", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await ReloadLiquids();
            _snackBar.Add($"Liquid {(liquid != null ? "updated" : "created")} successfully", Severity.Success);
        }
    }

    private async Task DeleteLiquid(int liquidId)
    {
        await httpClient.DeleteAsync($"webapi/liquids/{liquidId}");
        await ReloadLiquids();
        _snackBar.Add("Liquid deleted successfully", Severity.Success);
    }
}
